<mat-card class="cardWithShadow">
    <mat-card-content>

        <section class="row">
            <div class="col-6">
                <mat-card-title>
                    Vehiculos
                </mat-card-title>
            </div>
            <div class="col-6">

                <button mat-raised-button color="primary" style="float: right;">
                    <mat-icon>create</mat-icon>
                    Nuevo
                </button>
            </div>


        </section>
        <!-- <mat-divider></mat-divider> -->
        <section>
            <div class="row m-t-32">
                <div class="col-md-12">
                    <table mat-table [dataSource]="dataVehicle" class="mat-elevation-z8">
                        <!--- Note that these columns can be defined in any order.
                      The actual rendered columns are set as a property on the row definition" -->

                        <!-- Position Column -->
                        <ng-container matColumnDef="position">
                            <th mat-header-cell *matHeaderCellDef> No. </th>
                            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                        </ng-container>

                        <!-- Name Column -->
                        <ng-container matColumnDef="plaque">
                            <th mat-header-cell *matHeaderCellDef> Placa </th>
                            <td mat-cell *matCellDef="let element"> {{element.plaque}} </td>
                        </ng-container>

                        <!-- Weight Column -->
                        <ng-container matColumnDef="mark">
                            <th mat-header-cell *matHeaderCellDef> Marca </th>
                            <td mat-cell *matCellDef="let element"> {{element.mark}} </td>
                        </ng-container>

                        <!-- Symbol Column -->
                        <ng-container matColumnDef="model">
                            <th mat-header-cell *matHeaderCellDef> Modelo </th>
                            <td mat-cell *matCellDef="let element"> {{element.model}} </td>
                        </ng-container>

                        <ng-container matColumnDef="year">
                            <th mat-header-cell *matHeaderCellDef> Año </th>
                            <td mat-cell *matCellDef="let element"> {{element.year}} </td>
                        </ng-container>

                        <ng-container matColumnDef="options">
                            <th mat-header-cell *matHeaderCellDef width="28%">Opciones</th>
                            <td mat-cell *matCellDef="let element">
                                <div class="row">
                                    <div class="col-md-6">
                                        <button mat-stroked-button color="primary" style="float: right;">
                                            <mat-icon>edit</mat-icon>
                                            Editar
                                        </button>

                                    </div>
                                    <div class="col-md-6">
                                        <button mat-stroked-button color="warn" style="float: right;">
                                            <mat-icon>delete_sweep</mat-icon>
                                            Borrar
                                        </button>
                                    </div>
                                </div>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>

                    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
                        aria-label="Select page of periodic elements">
                    </mat-paginator>
                </div>
            </div>
        </section>

    </mat-card-content>
</mat-card>