<h2 mat-dialog-title>{{ data.title }}</h2>
<form (ngSubmit)="saveForm()" #formulario="ngForm">
  <mat-dialog-content class="mat-typography">



    <!-- Campos del formulario -->
    <mat-form-field>
      <mat-label>Nombre</mat-label>
      <input matInput placeholder="Nombre" [(ngModel)]="name" name="name" required>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Apellido Paterno</mat-label>
      <input matInput placeholder="Apellido Paterno" [(ngModel)]="lastName" name="lastName" required>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Apellido Materno</mat-label>
      <input matInput placeholder="Apellido Materno" [(ngModel)]="mothersLastName" name="mothersLastName" required>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Tipo de Documento</mat-label>
      <mat-select matInput placeholder="Tipo de Documento" [(ngModel)]="documentType" name="documentType" required>
        <mat-option value="CI">CI</mat-option>
        <mat-option value="CE">CE</mat-option>
        <mat-option value="DNI">DNI</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Nro Documento</mat-label>
      <input matInput placeholder="Numero Documento" [(ngModel)]="documentNumber" name="documentNumber" required>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Fecha de Nacimiento</mat-label>
      <input matInput placeholder="Fecha de Nacimiento" [(ngModel)]="birthDate" name="birthDate">
    </mat-form-field>

    <!-- Otros campos del formulario -->
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-raised-button color="primary" type="submit" [disabled]="formulario.invalid">Guardar</button>
    <button mat-button (click)="close()">Cerrar</button>
  </mat-dialog-actions>
</form>